[\[]AMD/ATI[\]]
    Identifier  "amd_"
    VendorName  "AMD"
    Option      "TearFree" "on"

NVIDIA Corporation
    Identifier  "nvidia_"
    Driver      "nvidia"
    Option      "Coolbits" "28"
    VendorName  "NVIDIA Corporation"
    Section "Screen"
        Identifier "Screen 0"
        Option "metamodes" "nvidia-auto-select +0+0 { ForceCompositionPipeline = On }"
    EndSection

Intel Corporation
    Identifier  "intel_"
    Driver      "intel"
    VendorName  "Intel Corporation"

[\[]AMD/ATI[\]] Device 67df
    BoardName   "RX 480 8GB"

[\[]AMD/ATI[\]] Device 687f
    BoardName   "RX Vega 64"

Crystal Well
    BoardName   "Iris Pro 5200"

NVIDIA Corporation Device 1c82
    BoardName   "GTX 1050 Ti"

NVIDIA Corporation Device 1c03
    BoardName   "GTX 1060 6GB"

.+
    Option      "DRI" "3"
    Option      "AccelMethod" "glamor"
