[Unit]
Description=Multi-GPU detection and subsequent X configuration
Before=lightdm.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/autogpu install
ExecStop=/usr/local/sbin/autogpu uninstall
ExecReload=/usr/local/sbin/autogpu reinstall
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
