[Unit]
Description=Multi-GPU detection and subsequent X configuration
Before=lightdm.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/multigpu.sh install
ExecStop=/usr/local/sbin/multigpu.sh uninstall
ExecReload=/usr/local/sbin/multigpu.sh reinstall
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
