[Unit]
Description=Multi-GPU detection and subsequent X configuration
Before=lightdm.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/multigpu install
ExecStop=/usr/local/sbin/multigpu uninstall
ExecReload=/usr/local/sbin/multigpu reinstall
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
