[\[]AMD/ATI[\]] Device 67df
    Identifier  "AMD RX 480"
    Driver      "amdgpu"
    Option      "TearFree" "on"

Crystal Well
    Identifier  "Intel Iris Pro 5200"
    Driver      "modesetting"

.+
    Option      "DRI" "3"
    Option      "AccelMethod" "glamor"
